<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body style="display: grid; place-items: center;">
	  <h1>Astro POC</h1>
    <iframe src="/" width="500" height="500" style="border:3px dotted red"/>
	</body>
</html>
